<%- include("./parts/header.ejs") %>
<link rel="stylesheet" href="/style.css"/>
<style>
.ddd {
  align:center;
  text-align:center;
  font-size:40px;
  color: #70c7c1;
  font-weight:200px;
  
  }
  
.error {
  position: relative;

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px
}
  @media only screen  and (max-width:600px) {
    .ddd {
      font-size:15px;
    }
    .error {
      font-size:12px;
    }
  }
</style>
  <div class="box">
    <img src="https://cdn.discordapp.com/attachments/629965788488400909/660447016266235904/404-gif-1.gif">
    <br>
  
  
     <br>
    <center>
     <button style="align:center" onclick="window.location.href='/'": class="error">Take Me Home</button>
    </center>
    </div>
<%- include("./parts/footer.ejs") %>





