<%- include("./parts/header.ejs") %>
<link rel="stylesheet" href="/style.css"/>
<style>
.ddd {
  align:center;
  text-align:center;
  font-size:40px;
  color: #70c7c1;
  font-weight:200px;
  
  }
  
.error {
  position: relative;

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px
}
  @media only screen  and (max-width:600px) {
    .ddd {
      font-size:15px;
    }
    .error {
      font-size:12px;
    }
  }
</style>
  <div class="box">
    
  <div class="ddd">  <img  src="https://cdn.discordapp.com/attachments/629965788488400909/660691906635890691/09-23-35-V7JBoia59fDLDeoIo0JCWzhbP1uGEq7itAZUYJmow-H2EAPTjctAF8xFJ-XzOCgG9omb1HGxw443-h332.gif">
    
  
  
     <br>
     <br>
     <button onclick="window.location.href='/'": class="error">Take Me Home</button>
    </div>
    </div>
<%- include("./parts/footer.ejs") %>





