<!DOCTYPE html>

<html lang="en">
<head>

<% let tit = "BOTS OF DISCORD";let des = "A discord botlist.";
if(typeof title === "string"){ tit = title; des = "BOTS OF DISCORD" } %>



<title><%= tit %> | <%= des %></title>
 
  
 <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  
 
 
  
  


  <meta name="theme-color" content="#6f85d8">
 <meta name="google-site-verification" content="o8w4h5cCqWF11rSzYGju47de78XZsJwAfriKId71Nk0" />
 
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-title" content="BOTS OF DISCORD">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, height=device-height"/>
 
  

  <meta name="author" content="DEF4ULT">
  
	<meta name="description" content="Embellish your discord experience with our directory of creative discord bots.">
	<meta name="twitter:card" value="summary">
	<meta name="twitter:title" content="BOTS OF DISCORD">
	<meta name="twitter:description" content="Embellish your discord experience with our directory of creative discord bots.">
	<meta name="twitter:image" content="https://images.discordapp.net/avatars/644375115219337216/8e7a3b45df0652554623e538fb054bad.png?size=512">

	<meta property="og:site_name" value="">
	<meta property="og:title" content="BOTS OF DISCORD" />
	<meta property="og:description" content="Embellish your discord experience with our directory of creative discord bots.">
	<meta property="og:image" content="https://images.discordapp.net/avatars/644375115219337216/8e7a3b45df0652554623e538fb054bad.png?size=512" />
  <meta name="title" content="Home">
  <meta name="keywords" content="Embellish, invite,discord,bot,list,a,discord bot,bot list,bots,bots of,bots of discord,bod,bod bots, certify,tags,embellish , experience,discordbots,discordapp
,bod,DBL, BOTS,DISCORD,online,Bod,b-o-d.cf,bodapi,bots,list,directory,creative,free,sitemap,view,invites,a discord,creative,google">


  <link rel="stylesheet" href="/css.css"/>
  <script  src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </head>
  
  
<style>
  .img {
    height:32px;
    width:32px;
  }
  @media only screen and (max-width:600px) {
    
  }
  </style>
  
  
  <header>
 <h1 style="display:none">BOTS OF DISCORD</h1>

 



          <div class="">
<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <a class="navbar-brand"><img class="img" src="https://cdn.discordapp.com/attachments/624096233455222795/686201193139273776/eraser.png" alt="bod"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bots">Bots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/SQmfu42">Community
        </a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          API
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if(user) { %>
          <a class="dropdown-item" style="color: black" href="/api/token">Token</a>
          <% } %>
          <a class="dropdown-item"  style="color: black" href="https://docs.b-o-d.cf">Docs</a>
          
        </div>
      </li>
      <% if(user) {%>
      <li class="nav-item">
        <a class="nav-link" href="/bot/add">Add Bot</a>
      </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/bot/certification">Certification</a>
      </li>
      <% if(user) { if(user.isMod ) {%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staff
        </a>
        <div class="dropdown-menu" aria-lebelledby="navbarDropdown">
          <a class="dropdown-item" style="color: black" href="/staff/queue">Queue</a>
          <a class="dropdown-item" style="color: black" href="/staff/blacklisted">Blacklisted</a>
        </div>
      </li>
      <% }} else {%>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
                                           </li>
      <% } %>
      <% if(user) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.username %>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: black" href="/user/<%= user.id%>">Profile</a>
          <a class="dropdown-item" style="color: Black" href="/logout">Logout</a>
        </div>
      </li>
      <% } %>
    </ul>
  
  </div>
</nav>
    </div>
   
  </header>
<body>
	
		
		
		
		
		
	
	





