@import "./card1.css";

html,
body {


  min-height: 100vh;
  height: 100%;
  width: 100vw;

  margin: 0;


  max-width: 100vw !important;
  overflow-x: hidden !important;
  background: 'whitesmoke'

}

.joi {
  background: #eaecfa;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  letter-spacing: 0.2em;
}

.loader::before,
.loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
  animation: load .7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }

  50% {
    height: 8px;
    width: 40px;
  }

  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }

  50% {
    height: 8px;
    width: 40px;
  }

  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

html {



  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background: transparent;
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mx-auto {
  padding-top: 25%;
}

.hdm {
  font-weight: bold;
  color: '#434f1';
  text-align: center;
}

.bh {
  height: 220px;
  width: 220px;
}

.mod {
  right: 0;
  left: 0;
  top: 0;

  margin-right: auto !important;
  margin-left: auto !important;

  align: center;


  text-align: center;
  display: none;
  /* Hidden by default */
  position: relative;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */



  width: auto;
  height: auto;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: transparent;

}

.modal-contn {
  align: center;
  text-align: center;
  background-color: #fefefe;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  margin: 14%;
  padding: 25px;
  width: auto;
  /* Could be more or less, depending on screen size */
}

.pn {
  max-width: 100%;
  font-weight: bold;
  font-size: 29px;
  padding-top: 10px;
}

.pi {



  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;

}

.pi:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.container {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
}

* {
  box-sizing: border-box
}

*:before,
*:after {
  box-sizing: inherit;
}

.box {
  margin: 40px !important;
  padding: 90px !important;
  position: relative !important;
  color: white !important;
  border-radius: 0px !important;
  max-width: 100% !important;
  border: 2px grey !important;
  box-shadow: 4px white !important;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .box {
    margin: 25px !important;
    padding: 25px !important;
    top: 10px !important;
  }

  .pn {
    font-size: 22px
  }

  .pi {
    width: 180px;
    height: 180px;
  }
}

.bo-card {
  margin: 20px;
}

.title2 {
  color: white;
  position: relative;
  top: 11px;
  display: inline-block;
  text-align: center;
  padding-left: 270px;

  font-size: 32px;
}

.brand {
  bottom: 5px;
  position: relative;
  left: 19px;
  height: 60px;
  width: 60px;
}

.logo {
  left: 11px;
  padding: 0;

  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  left: 9px;
}

.page-title {
  color: white;
  font-size: 35px;
  padding-top: 38px;

  display: inline-block;
  width: 100%;

  margin: 0 auto;
  text-align: center;
  font-weight: bold;

  -webkit-animation: colorchange 20s infinite alternate;
}

.bx {
  display: inline-block;
  border: solid black;
  border-width: 1px;
  max-width: 50vw;
  align: center;
  padding: 5px;
  border-radius: 4px;
}

.bx-t {
  font-weight: bold;
  position: relative;
  top: 2px;
}

.bgi {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .bx {
    max-width: 85vw;
  }

  .page-title {
    padding-top: 10px;
    font-size: 18px;
  }

  .brand {
    height: 32px;
    width: 32px;
    top: 3px;
    right: 21px;
  }

  .title2 {
    font-size: 15px;
    padding-left: 82px;
    top: 15px;
  }

  .logo {
    height: 180px;
    width: 35px;
    left: 2px;
  }
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

.img {
  height: 32px;
  width: 32px;
}

 .hdm {
      font-weight:bold;
      color: #434f81;
      font-size:21px;
      text-align:center;
      align-self: center;
      text-decoration: underline;
    }